In [1]:
import pandas as pd
import numpy as np
import os
from pathlib import Path
import glob

In [ ]:
p = Path('./CSV-Files')

In [2]:
pwd

'C:\\Users\\Artan\\Desktop\\Projekt-Portfolio-Analyse-py\\PythonJupyterNotebook'

In [27]:
files = glob.glob("./CSV-Files/Degiro_CSV/*.csv")
dfList = [pd.read_csv(file) for file in files]

In [ ]:
dfList

In [28]:
dfList[0].head()

,Produkt,Symbol/ISIN,Anzahl,Schlußkurs,Wert,Wert in EUR
0,CASH & CASH FUND & FTX CASH (EUR),NaN,NaN,NaN,EUR 12000.00,"12000,00"
1,2G ENERGY AG,DE000A0HL8N9,52.0,"25,00",EUR 1300.00,"1300,00"
2,ADESSO AG,DE000A0Z23Q5,10.0,"142,20",EUR 1422.00,"1422,00"
3,ALPHABET INC. - CLASS A,US02079K3059,30.0,"88,42",USD 2652.60,"2471,43"
4,AMUNDI EURAGGCO DR,LU1437018168,-200.0,"47,30",EUR -9460.80,"-9460,80"

In [5]:
def summe_berechnen(index):
    summe = 0
    for item in dfList[index]['Wert in EUR']:
        summe = summe + float(item.split(',')[0])
    return summe

In [6]:
for integer in range(0, len(files)):
    if integer == len(files)-1:
        break
    print(((summe_berechnen(integer)/summe_berechnen(integer+1))-1))

-0.02862816031769777
0.03782692769128704
-0.039752243094521744
0.029568954690705196
-0.02313915526748045
-0.013706641570314648
0.0037786774628880693
-0.003864896656024186
-0.004749640432150426
-0.008292699107705581
0.06613902563232044
-0.00693956676874663
-0.00035106935726225696
-0.0005473684210526297
0.002067423315471828
-0.010795920922661684
0.016295165178539905
-0.004917271652878585
0.004515486209747621

In [29]:
dfList[1].head()

,Produkt,Symbol/ISIN,Anzahl,Schlußkurs,Wert,Wert in EUR
0,CASH & CASH FUND & FTX CASH (EUR),NaN,NaN,NaN,EUR 15973.30,"15973,30"
1,2G ENERGY AG,DE000A0HL8N9,52.0,"24,00",EUR 1248.00,"1248,00"
2,ADESSO AG,DE000A0Z23Q5,10.0,"134,80",EUR 1348.00,"1348,00"
3,ALPHABET INC. - CLASS A,US02079K3059,30.0,"88,23",USD 2646.90,"2481,47"
4,AMUNDI EURAGGCO DR,LU1437018168,-200.0,"47,10",EUR -9419.40,"-9419,40"

In [34]:
 print(((summe_berechnen(1)/summe_berechnen(0))-1))

-0.007143105788979032

In [32]:
print(summe_berechnen(0))

143635.0

In [33]:
print(summe_berechnen(1))

142609.0