In [14]:
import pandas as pd
import numpy as np

In [48]:
df = pd.read_csv('../Data/Portfolio-26.05.2022.csv')
df

,Produkt,Symbol/ISIN,Anzahl,Schlußkurs,Wert,Wert in EUR
0,CASH & CASH FUND & FTX CASH (EUR),NaN,NaN,NaN,EUR 83246.85,"83246,85"
1,CASH & CASH FUND & FTX CASH (USD),NaN,NaN,NaN,USD 71.08,"66,56"
2,2G ENERGY AG,DE000A0HL8N9,13.0,"105,80",EUR 1375.40,"1375,40"
3,ABBOTT LABORATORIES CO,US0028241000,25.0,"113,19",USD 2829.75,"2649,78"
4,ADESSO AG,DE000A0Z23Q5,10.0,"171,00",EUR 1710.00,"1710,00"
...,...,...,...,...,...,...
62,VANGUARD FTSE ALL-WORLD UCITS E...,IE00B3RBWM25,120.0,"97,17",EUR 11660.40,"11660,40"
63,VISA INC.,US92826C8394,13.0,"203,84",USD 2649.92,"2481,39"
64,WASTE MANAGEMENT INC.,US94106L1098,25.0,"156,01",USD 3900.25,"3652,19"
65,WDP,BE0974349814,50.0,"34,36",EUR 1718.00,"1718,00"
66,ZAL P24.00 16DEC22,DE000C2PPRP0,-1.0,"2,27",EUR -227.00,"-227,00"

In [ ]:
for i,j in df['Produkt'][j]:
    print(i[j], ' ', type(i[j]))

In [202]:
df_test = df['Produkt'] + '/' + df['Wert in EUR']
df_test

0      CASH & CASH FUND & FTX CASH (EUR)/83246,85
1         CASH & CASH FUND & FTX CASH (USD)/66,56
2                            2G ENERGY AG/1375,40
3                  ABBOTT LABORATORIES CO/2649,78
4                               ADESSO AG/1710,00
                         ...
62    VANGUARD FTSE ALL-WORLD UCITS E.../11660,40
63                              VISA INC./2481,39
64                  WASTE MANAGEMENT INC./3652,19
65                                    WDP/1718,00
66                     ZAL P24.00 16DEC22/-227,00
Length: 67, dtype: object

In [ ]:
def f (x):
    for i in df['Produkt']:
        print(df['Produkt'][x])
        x += 1

In [ ]:
def remove_data(data):
    ind = 0
    for item in data['Produkt']:
        tmp = item.split(' ')
        if tmp[0] == 'ISHARES':
            data.drop(index=ind, inplace=True)
        if tmp[0] == 'ODAX':
            data.drop(index=ind, inplace=True)
        if tmp[0] == 'ISHR':
            data.drop(index=ind, inplace=True)
        if tmp[0] == 'AMUNDI':
            data.drop(index=ind, inplace=True)
        if tmp[0] == 'IS':
            data.drop(index=ind, inplace=True)
        if tmp[0] == 'ES':
            data.drop(index=ind, inplace=True)
        if tmp[0] == 'CASH':
            data.drop(index=ind, inplace=True)
        if tmp[0] == 'VANGUARD':
            data.drop(index=ind, inplace=True)
        if tmp[0] == 'GENERAL':
            data.drop(index=ind, inplace=True)
        ind += 1

In [ ]:
df.head()

In [215]:
some_list = []
some_list_wert = []
some_list_wert_test = []

In [ ]:
df

In [231]:
some_list.extend(df['Produkt'])
some_list_wert.extend(df['Wert in EUR'])

In [62]:
some_list

[]

In [ ]:
some_list_wert_test = list(zip(some_list,some_list_wert))

In [227]:
int_list = []
underlying_list = ['ALPHABET INC. - CLASS A', 'ANN C50.00 16DEC22', 'HANNOVER RUECK SE', 'BAS P36.00 16DEC22',
                  'AS1 C30.00 16DEC22', 'ISHARES $ CORP BOND UCITS ETF U...', 'ISHARES JP MORGAN $ EM BOND UCI...'
                  ]

In [ ]:
type(some_list_wert_test[0][0])

In [230]:
int_list.clear()
some_list.clear()
some_list_wert.clear()

In [ ]:
for item in int_list:
    some_list.pop(item)
    print(item)

In [195]:
# alternative um unerwünschte Datensätze zu entfernen

def daten_entfernen(data):
    index = 0
    wert = 0
    for item in data:
        print(item)
        int_list.append(some_list.index(item))
        some_list.remove(item)
        int_list[index] = int_list[index] + index
        index += 1
        #some_list_wert.pop(int_list[index-1])

In [218]:
daten_entfernen(underlying_list)

ALPHABET INC. - CLASS A
ANN C50.00 16DEC22
AS1 C30.00 16DEC22
BAS P36.00 16DEC22
HANNOVER RUECK SE
ISHARES $ CORP BOND UCITS ETF U...
ISHARES JP MORGAN $ EM BOND UCI...

In [219]:
int_list

[5, 6, 8, 11, 30, 34, 35]

In [78]:
for item in int_list:
    some_list_wert.remove

IndexError: list index out of range

In [119]:
underlying_list[3] + some_list_wert[11]

'BAS P36.00 16DEC22-129,00'

In [232]:
underlying_list.sort()

In [197]:
def werte_entfernen():
    index = 0
    list_wert = some_list_wert
    for item in int_list:
        wert = some_list_wert[item]
        print(some_list_wert[item])
        some_list_wert.remove(wert)
        index += 1

1981,52
3981,79
3060,16
2379,01
5108,25
4450,50
2582,67

In [189]:
some_list_wert.remove('1981,52')

In [192]:
len(some_list_wert)

59

In [211]:
def daten_entfernen_test(data):
    index = 0
    for item in data:
        print(item)
        some_list.remove(item)
        int_list[index] = int_list[index] + index
        index += 1

In [222]:
underlying_list[0] + df_test[int_list[0]].split('/')[1]

'ALPHABET INC. - CLASS A1981,52'

In [223]:
def daten_index_ermitteln(data):
    for item in data:
        int_list.append(some_list.index(item))

In [233]:
daten_index_ermitteln(underlying_list)

In [234]:
int_list

[5, 6, 8, 11, 30, 34, 35]

In [ ]:
# Notizen von Portdolio Analyse

df.sort_values(by=['Wert in EUR'], ascending=True)

unsorted_df = df.reindex(
   .....:     index=[list(range(0,len(df)))], columns=["1", "2", "3","4","6" ]
   .....: )
   .....: 

df['Wert in EUR'] = df['Wert in EUR'].astype('str') 

df_tmp = pd.to_numeric(df['Wert in EUR'].str.split(',').str[0])

df['Wert in EUR'] = df_tmp

df['Wert in EUR'].sum()

df_tmp1 = pd.to_numeric(df1['Wert in EUR'].str.split(',').str[0])

df1['Wert in EUR'] = df_tmp1

df1['Wert in EUR'].sum()