In [2]:
###    eine Anwendung zur steuerung von Daten eines Aktien Portfolios    ###



import pandas as pd
import numpy as np

In [3]:
pwd

'/Users/artannasradini/Programming/python_work/Jupyter-Tutorial'

In [4]:
df = pd.read_csv("../Portfolio-Analyse/CSV-Data/Portfolio-02.01.2023.csv")
df1 = pd.read_csv("../Portfolio-Analyse/CSV-Data/Portfolio-16.01.2023.csv")
df1.head()

,Produkt,Symbol/ISIN,Anzahl,Schlußkurs,Wert,Wert in EUR
0,CASH & CASH FUND & FTX CASH (EUR),NaN,NaN,NaN,EUR 9296.96,"9296,96"
1,2G ENERGY AG,DE000A0HL8N9,52.0,"26,05",EUR 1354.60,"1354,60"
2,ADESSO AG,DE000A0Z23Q5,10.0,"151,80",EUR 1518.00,"1518,00"
3,ALPHABET INC. - CLASS A,US02079K3059,30.0,"92,12",USD 2763.60,"2551,36"
4,AMUNDI EURAGGCO DR,LU1437018168,-200.0,"47,76",EUR -9551.20,"-9551,20"

In [5]:
#     Funktion um unerwünschte Datensätze zu entfernen

def remove_data(data):
    ind = 0
    for item in data['Produkt']:
        tmp = item.split(' ')
        if tmp[0] == 'ISHARES':
            data.drop(index=ind, inplace=True)
        if tmp[0] == 'ODAX':
            data.drop(index=ind, inplace=True)
        if tmp[0] == 'ISHR':
            data.drop(index=ind, inplace=True)
        if tmp[0] == 'AMUNDI':
            data.drop(index=ind, inplace=True)
        if tmp[0] == 'IS':
            data.drop(index=ind, inplace=True)
        if tmp[0] == 'ES':
            data.drop(index=ind, inplace=True)
        if tmp[0] == 'CASH':
            data.drop(index=ind, inplace=True)
        if tmp[0] == 'VANGUARD':
            data.drop(index=ind, inplace=True)
        if tmp[0] == 'GENERAL':
            data.drop(index=ind, inplace=True)
        ind += 1
    # der Index der Zeilen wird neu gesetzt
    q = list(range(0,len(data)))
    data.set_index([pd.Index(q)], inplace=True)

In [6]:
#     Funktion zur Berechnung der Summe in EUR. 

def summe_berechnen(data):
    summe = 0
    for item in data['Wert in EUR']:
        summe = summe + float(item.split(',')[0])
    return summe

In [ ]:

print((summe_berechnen(df1)-(auszahlungen()))/summe_berechnen(df))

In [ ]:
print(summe_berechnen(df1)-(auszahlungen()))
print(summe_berechnen(df))

In [14]:
#  Funktion zur Filterung von Auszahlungen für einen Zeitraum der als csv Datei übergeben werden muss

def auszahlungen():
    index = 0
    summe = 0
    df = pd.read_csv("../Portfolio-Analyse/CSV-Data/Konto/01.12.2022-12.01.2023.csv", index_col=0)
    df.set_axis(list('ABCDEFGHIJK'), axis = 1, inplace=True)
    for item in df['E']:
        if item=='flatex Auszahlung':
            summe = summe + float(df['H'][index].split(',')[0])
        index = index + 1
    return summe

In [8]:
# Funktion zur Berechnung von Transaktionskosten einer CSV-Datei 

def transaktions_kosten():
    index = 0
    summe = 0
    df = pd.read_csv("../Portfolio-Analyse/CSV-Data/Konto/01.07.2022-13.01.2023.csv", index_col=0)
    df.set_axis(list('ABCDEFGHIJK'), axis = 1, inplace=True)
    for item in df['E']:
        if item=='DEGIRO Transaktionsgebühren und/oder Fremdkosten':
            summe = summe + float(df['H'][index].split(',')[0])
        index = index + 1
    return summe

In [9]:
# das Ergebnis ist nicht richtig da Devisen nicht umgerechnet werden

def dividenden():
    index = 0
    summe = 0
    df = pd.read_csv("../Portfolio-Analyse/CSV-Data/Konto/01.07.2022-13.01.2023.csv", index_col=0)
    df.set_axis(list('ABCDEFGHIJK'), axis = 1, inplace=True)
    for item in df['E']:
        if item=='Dividende':
            summe = summe + float(df['H'][index].split(',')[0])
        index = index + 1
    return summe

In [ ]:
def werte_sortieren(data):
    data.sort_values(by=['Wert in EUR'], ascending=False)
    return data

In [10]:
remove_data(df)
remove_data(df1)

In [16]:
print(summe_berechnen(df))
print(summe_berechnen(df1)+6727)

64886.0
66857.0

In [15]:
auszahlungen()

-9388.0

In [17]:
print((summe_berechnen(df1)+6727)/summe_berechnen(df))

1.030376352371852