In [2]:

import pandas as pd
import numpy as np
df = pd.read_csv("./CSV-Files/Portfolio11.11.2022.csv")
df

,Produkt,Symbol/ISIN,Anzahl,Schlu√ükurs,Wert,Wert in EUR
0,CASH & CASH FUND & FTX CASH (EUR),NaN,NaN,NaN,EUR 1761.45,"1761,45"
1,2G ENERGY AG,DE000A0HL8N9,52.0,"22,75",EUR 1183.00,"1183,00"
2,ADESSO AG,DE000A0Z23Q5,10.0,"111,00",EUR 1110.00,"1110,00"
3,ALPHABET INC. - CLASS A,US02079K3059,30.0,"93,94",USD 2818.20,"2760,43"
4,ANN C50.00 16DEC22,DE000C6K9MB6,1.0,"0,01",EUR 1.00,"1,00"
5,ARTHUR J. GALLAGHER &,US3635761097,27.0,"193,00",USD 5211.00,"5104,17"
6,AS1 C30.00 16DEC22,FREN00676717,1.0,"0,09",EUR 9.00,"9,00"
7,AVANZA BANK HOLDING AB,SE0012454072,50.0,"237,00",SEK 11850.00,"1097,31"
8,BANK NOVA SCOTIA HALIF,CA0641491075,50.0,"51,81",USD 2590.50,"2537,39"
9,CARL ZEISS MEDITEC AG,DE0005313704,15.0,"129,25",EUR 1938.75,"1938,75"
10,CME GROUP INC. - CLASS,US12572Q1058,15.0,"174,34",USD 2615.10,"2561,49"
11,DERMAPHARM HOLDING SE,DE000A2GS5D8,50.0,"43,92",EUR 2196.00,"2196,00"
12,DEUTSCHE BOERSE AG,DE0005810055,20.0,"163,30",EUR 3266.00,"3266,00"
13,DINO POLSKA SA,PLDINPL00011,75.0,"343,00",PLN 25725.00,"5487,14"
14,DNB BANK,NO0010161896,130.0,"184,25",NOK 23952.50,"2325,79"
15,FIRST REPUBLIC BANK CO,US33616C1009,10.0,"126,49",USD 1264.90,"1238,97"
16,FLATEXDEGIRO AG,DE000FTG1111,100.0,"9,88",EUR 988.00,"988,00"
17,GENERAL ELECT. 05/35 MTN,XS0229567440,3000.0,"101,51",EUR 3064.63,"3064,63"
18,HANNOVER RUECK SE,DE0008402215,20.0,"172,60",EUR 3452.00,"3452,00"
19,IMCD,NL0010801007,20.0,"141,50",EUR 2830.00,"2830,00"
20,INDUSTRIVARDEN A,SE0000190126,3.0,"266,30",SEK 798.90,"73,98"
21,ISHARES CORE DAX UCITS ETF (DE),DE0005933931,400.0,"119,34",EUR 47736.00,"47736,00"
22,ISHARES JP MORGAN $ EM BOND UCI...,IE00B2NPKV68,150.0,"81,26",EUR 12189.30,"12189,30"
23,ISHARES S&P 500 INF TECH SECTOR...,IE00B3WJKG14,500.0,"15,90",EUR 7948.00,"7948,00"
24,ISHR JPM $ EMB,IE00B2NPKV68,100.0,"82,54",USD 8254.00,"8084,79"
25,KEYWORDS STUDIO,GB00BBQ38507,60.0,"2620,00",GBX 157200.00,"1803,56"
26,LINDE PLC,IE00BZ12WP82,15.0,"322,85",EUR 4842.75,"4842,75"
27,LVMH,FR0000121014,4.0,"686,80",EUR 2747.20,"2747,20"
28,MUTUIONLINE,IT0004195308,40.0,"26,00",EUR 1040.00,"1040,00"
29,ODAX C14500.00 17MAR23,DE000C6SMJH6,-1.0,"536,90",EUR -2684.50,"-2684,50"
30,ODAX P8000.00 15DEC23,DE000C4ZQCS9,1.0,"99,60",EUR 498.00,"498,00"
31,PURE STORAGE INC. CLA,US74624M1027,60.0,"30,95",USD 1857.00,"1818,93"
32,ROYAL BANK OF CANADA C,CA7800871021,50.0,"98,18",USD 4909.00,"4808,37"
33,SECUNET SECURITY NETWORKS AG,DE0007276503,6.0,"211,00",EUR 1266.00,"1266,00"
34,SESA,IT0004729759,15.0,"121,40",EUR 1821.00,"1821,00"
35,SOLARIA,ES0165386014,75.0,"16,88",EUR 1266.38,"1266,38"
36,STEICO SE,DE000A0LR936,20.0,"48,15",EUR 963.00,"963,00"
37,SWEETGREEN INC - CLASS A,US87043Q1085,50.0,"15,18",USD 759.00,"743,44"
38,TETRA TECH INC. - COM,US88162G1031,12.0,"160,50",USD 1926.00,"1886,52"
39,THERMO FISHER SCIENTIF,US8835561023,7.0,"520,58",USD 3644.06,"3569,36"
40,VANGUARD FTSE EUR,IE00B945VV12,350.0,"33,38",EUR 11684.75,"11684,75"
41,VANGUARD S&P500,IE00B3XXRP09,100.0,"73,17",EUR 7316.60,"7316,60"
42,WASTE MANAGEMENT INC.,US94106L1098,25.0,"161,22",USD 4030.50,"3947,87"

In [9]:

ind = 0
for item in df['Produkt']:
    tmp = item.split(' ')
    if tmp[0] == 'ISHARES':
        df.drop(index=ind, inplace=True)
    if tmp[0] == 'ODAX':
        df.drop(index=ind, inplace=True)
    if tmp[0] == 'ISHR':
        df.drop(index=ind, inplace=True)
    if tmp[0] == 'ANN':
        df.drop(index=ind, inplace=True)
    if tmp[0] == 'AS1':
        df.drop(index=ind, inplace=True)
    if tmp[0] == 'GENERAL':
        df.drop(index=ind, inplace=True)
    if tmp[0] == 'CASH':
        df.drop(index=ind, inplace=True)
    if tmp[0] == 'VANGUARD':
        df.drop(index=ind, inplace=True)
    ind += 1
df

,Produkt,Symbol/ISIN,Anzahl,Schlu√ükurs,Wert,Wert in EUR
1,2G ENERGY AG,DE000A0HL8N9,52.0,"22,75",EUR 1183.00,"1183,00"
2,ADESSO AG,DE000A0Z23Q5,10.0,"111,00",EUR 1110.00,"1110,00"
3,ALPHABET INC. - CLASS A,US02079K3059,30.0,"93,94",USD 2818.20,"2760,43"
5,ARTHUR J. GALLAGHER &,US3635761097,27.0,"193,00",USD 5211.00,"5104,17"
7,AVANZA BANK HOLDING AB,SE0012454072,50.0,"237,00",SEK 11850.00,"1097,31"
8,BANK NOVA SCOTIA HALIF,CA0641491075,50.0,"51,81",USD 2590.50,"2537,39"
9,CARL ZEISS MEDITEC AG,DE0005313704,15.0,"129,25",EUR 1938.75,"1938,75"
10,CME GROUP INC. - CLASS,US12572Q1058,15.0,"174,34",USD 2615.10,"2561,49"
11,DERMAPHARM HOLDING SE,DE000A2GS5D8,50.0,"43,92",EUR 2196.00,"2196,00"
12,DEUTSCHE BOERSE AG,DE0005810055,20.0,"163,30",EUR 3266.00,"3266,00"
13,DINO POLSKA SA,PLDINPL00011,75.0,"343,00",PLN 25725.00,"5487,14"
14,DNB BANK,NO0010161896,130.0,"184,25",NOK 23952.50,"2325,79"
15,FIRST REPUBLIC BANK CO,US33616C1009,10.0,"126,49",USD 1264.90,"1238,97"
16,FLATEXDEGIRO AG,DE000FTG1111,100.0,"9,88",EUR 988.00,"988,00"
18,HANNOVER RUECK SE,DE0008402215,20.0,"172,60",EUR 3452.00,"3452,00"
19,IMCD,NL0010801007,20.0,"141,50",EUR 2830.00,"2830,00"
20,INDUSTRIVARDEN A,SE0000190126,3.0,"266,30",SEK 798.90,"73,98"
25,KEYWORDS STUDIO,GB00BBQ38507,60.0,"2620,00",GBX 157200.00,"1803,56"
26,LINDE PLC,IE00BZ12WP82,15.0,"322,85",EUR 4842.75,"4842,75"
27,LVMH,FR0000121014,4.0,"686,80",EUR 2747.20,"2747,20"
28,MUTUIONLINE,IT0004195308,40.0,"26,00",EUR 1040.00,"1040,00"
31,PURE STORAGE INC. CLA,US74624M1027,60.0,"30,95",USD 1857.00,"1818,93"
32,ROYAL BANK OF CANADA C,CA7800871021,50.0,"98,18",USD 4909.00,"4808,37"
33,SECUNET SECURITY NETWORKS AG,DE0007276503,6.0,"211,00",EUR 1266.00,"1266,00"
34,SESA,IT0004729759,15.0,"121,40",EUR 1821.00,"1821,00"
35,SOLARIA,ES0165386014,75.0,"16,88",EUR 1266.38,"1266,38"
36,STEICO SE,DE000A0LR936,20.0,"48,15",EUR 963.00,"963,00"
37,SWEETGREEN INC - CLASS A,US87043Q1085,50.0,"15,18",USD 759.00,"743,44"
38,TETRA TECH INC. - COM,US88162G1031,12.0,"160,50",USD 1926.00,"1886,52"
39,THERMO FISHER SCIENTIF,US8835561023,7.0,"520,58",USD 3644.06,"3569,36"
42,WASTE MANAGEMENT INC.,US94106L1098,25.0,"161,22",USD 4030.50,"3947,87"

In [10]:
# Berechnung der Summe in EUR
summe = 0
for item in df['Wert in EUR']:
    summe += float(item.split(',')[0])
summe

72664.0

In [3]:
def remove_row(dataset, name):
    ind = 0
    for item in dataset['Produkt']:
        if item == name:
            dataset.drop(index=ind, inplace=True)
        ind += 1

In [5]:
remove_row(df, 'ADESSO AG')

In [7]:
remove_row(df, '2G ENERGY AG')

In [8]:
df

,Produkt,Symbol/ISIN,Anzahl,Schlu√ükurs,Wert,Wert in EUR
0,CASH & CASH FUND & FTX CASH (EUR),NaN,NaN,NaN,EUR 1761.45,"1761,45"
3,ALPHABET INC. - CLASS A,US02079K3059,30.0,"93,94",USD 2818.20,"2760,43"
4,ANN C50.00 16DEC22,DE000C6K9MB6,1.0,"0,01",EUR 1.00,"1,00"
5,ARTHUR J. GALLAGHER &,US3635761097,27.0,"193,00",USD 5211.00,"5104,17"
6,AS1 C30.00 16DEC22,FREN00676717,1.0,"0,09",EUR 9.00,"9,00"
7,AVANZA BANK HOLDING AB,SE0012454072,50.0,"237,00",SEK 11850.00,"1097,31"
8,BANK NOVA SCOTIA HALIF,CA0641491075,50.0,"51,81",USD 2590.50,"2537,39"
9,CARL ZEISS MEDITEC AG,DE0005313704,15.0,"129,25",EUR 1938.75,"1938,75"
10,CME GROUP INC. - CLASS,US12572Q1058,15.0,"174,34",USD 2615.10,"2561,49"
11,DERMAPHARM HOLDING SE,DE000A2GS5D8,50.0,"43,92",EUR 2196.00,"2196,00"
12,DEUTSCHE BOERSE AG,DE0005810055,20.0,"163,30",EUR 3266.00,"3266,00"
13,DINO POLSKA SA,PLDINPL00011,75.0,"343,00",PLN 25725.00,"5487,14"
14,DNB BANK,NO0010161896,130.0,"184,25",NOK 23952.50,"2325,79"
15,FIRST REPUBLIC BANK CO,US33616C1009,10.0,"126,49",USD 1264.90,"1238,97"
16,FLATEXDEGIRO AG,DE000FTG1111,100.0,"9,88",EUR 988.00,"988,00"
17,GENERAL ELECT. 05/35 MTN,XS0229567440,3000.0,"101,51",EUR 3064.63,"3064,63"
18,HANNOVER RUECK SE,DE0008402215,20.0,"172,60",EUR 3452.00,"3452,00"
19,IMCD,NL0010801007,20.0,"141,50",EUR 2830.00,"2830,00"
20,INDUSTRIVARDEN A,SE0000190126,3.0,"266,30",SEK 798.90,"73,98"
21,ISHARES CORE DAX UCITS ETF (DE),DE0005933931,400.0,"119,34",EUR 47736.00,"47736,00"
22,ISHARES JP MORGAN $ EM BOND UCI...,IE00B2NPKV68,150.0,"81,26",EUR 12189.30,"12189,30"
23,ISHARES S&P 500 INF TECH SECTOR...,IE00B3WJKG14,500.0,"15,90",EUR 7948.00,"7948,00"
24,ISHR JPM $ EMB,IE00B2NPKV68,100.0,"82,54",USD 8254.00,"8084,79"
25,KEYWORDS STUDIO,GB00BBQ38507,60.0,"2620,00",GBX 157200.00,"1803,56"
26,LINDE PLC,IE00BZ12WP82,15.0,"322,85",EUR 4842.75,"4842,75"
27,LVMH,FR0000121014,4.0,"686,80",EUR 2747.20,"2747,20"
28,MUTUIONLINE,IT0004195308,40.0,"26,00",EUR 1040.00,"1040,00"
29,ODAX C14500.00 17MAR23,DE000C6SMJH6,-1.0,"536,90",EUR -2684.50,"-2684,50"
30,ODAX P8000.00 15DEC23,DE000C4ZQCS9,1.0,"99,60",EUR 498.00,"498,00"
31,PURE STORAGE INC. CLA,US74624M1027,60.0,"30,95",USD 1857.00,"1818,93"
32,ROYAL BANK OF CANADA C,CA7800871021,50.0,"98,18",USD 4909.00,"4808,37"
33,SECUNET SECURITY NETWORKS AG,DE0007276503,6.0,"211,00",EUR 1266.00,"1266,00"
34,SESA,IT0004729759,15.0,"121,40",EUR 1821.00,"1821,00"
35,SOLARIA,ES0165386014,75.0,"16,88",EUR 1266.38,"1266,38"
36,STEICO SE,DE000A0LR936,20.0,"48,15",EUR 963.00,"963,00"
37,SWEETGREEN INC - CLASS A,US87043Q1085,50.0,"15,18",USD 759.00,"743,44"
38,TETRA TECH INC. - COM,US88162G1031,12.0,"160,50",USD 1926.00,"1886,52"
39,THERMO FISHER SCIENTIF,US8835561023,7.0,"520,58",USD 3644.06,"3569,36"
40,VANGUARD FTSE EUR,IE00B945VV12,350.0,"33,38",EUR 11684.75,"11684,75"
41,VANGUARD S&P500,IE00B3XXRP09,100.0,"73,17",EUR 7316.60,"7316,60"
42,WASTE MANAGEMENT INC.,US94106L1098,25.0,"161,22",USD 4030.50,"3947,87"